<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Yello, </h1>
    <p>
      You have been invited to join the following board : <%= @board.title %>.<br />
    </p>
    <p>
      To sign up for the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>